<footer class="border-t border-white/5 bg-surface py-12 px-6">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <div class="flex items-center gap-2">
      <div
        class="w-6 h-6 bg-white/10 rounded flex items-center justify-center text-xs font-bold text-white"
      >
        HM
      </div>
      <span class="text-text-muted text-sm">© 2026 Hoàng Nhật Minh</span>
    </div>

    <div class="flex gap-6">
      <a
        href="https://github.com/minh7721"
        target="_blank"
        class="text-text-muted hover:text-white transition-colors"
        ><i data-lucide="github" class="w-5 h-5"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/minh-ho%C3%A0ng-nh%E1%BA%ADt-9a8533288/"
        target="_blank"
        class="text-text-muted hover:text-white transition-colors"
        ><i data-lucide="linkedin" class="w-5 h-5"></i
      ></a>
      <a
        href="mailto:nhatminh7721@gmail.com"
        class="text-text-muted hover:text-white transition-colors"
        ><i data-lucide="mail" class="w-5 h-5"></i
      ></a>
    </div>
  </div>
</footer>
